# Dependencies
node_modules/
*/node_modules/

# Environment
.env
backend/.env
frontend/.env

# Build
dist/
build/
*/dist/
*/build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
backend/src/prisma/migrations/

# PDFs de teste
*.pdf

# IDE
.vscode/settings.json
.idea/
