# Database
DATABASE_URL="postgres://postgres:4f62154cb16f66113986@72.60.7.78:5431/zapbroker?sslmode=disable"

# Redis
REDIS_URL="redis://default:61343702aaa45f547691@72.60.7.78:6378"

# Groq AI
GROQ_API_KEY="your_groq_api_key_here"

# Evolution API (WhatsApp)
EVOLUTION_API_URL="hhttps://evo.vps.zapbroker.dev/"
EVOLUTION_API_KEY="429683C4C977415CAAFCCE10F7D57E11"
EVOLUTION_INSTANCE_1="chip-casa"
EVOLUTION_INSTANCE_2="chip-luisjr"

# Server
PORT=3001
NODE_ENV=development
